@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/montserrat/montserrat-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/montserrat/montserrat-variablefont_wght-webfont.woff")
      format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/roboto-variablefont_wdthwght-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/roboto/roboto-variablefont_wdthwght-webfont.woff")
      format("woff");
  font-weight: 100 900;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 22.5rem;
  min-height: 4.25rem;
  padding: 0 1rem;
  background-color: #1a1a1a;
  box-sizing: border-box;
}

nav {
  display: none;
}

span {
  color: #ffffff;
}

p {
  display: inline-block;
  margin: 0;
  color: #bfbfbf;
}

p.card {
  font-size: 0.9rem;
  margin: 0;
  color: #ffffff;
}

p.price {
  font-size: 1.35rem;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.small-mt {
  margin-top: 0.5rem;
}

.mt {
  margin-top: 1rem;
}

.small-mb {
  margin-bottom: 0.5rem;
}

.mb {
  margin-bottom: 1rem;
}

.large-mb {
  margin-bottom: 2.5rem;
}

.logotype-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  width: 3.2rem;
  height: 3.2rem;
}

.header-title {
  font-size: 2rem;
  color: #ffffff;
  margin-top: 0.5rem;
}

.menu-icon {
  width: 2rem;
  height: 2rem;
}
.button-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 0.6rem;
}

.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  padding: 1.7rem;
  box-sizing: border-box;
}

.building-model-img {
  width: 104%;
  height: auto;
}

.section-hero-title {
  max-width: 37.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  align-self: flex-start;
  line-height: 2rem;
  margin: 1.75rem 0 1rem 0;
}

.large-button-dark {
  width: 21rem;
  height: 3rem;
  background-color: #121212;
  border: 2px solid #262626;
  border-radius: 0.5rem;
  color: #ffffff;
}

.large-button-dark:hover {
  background-color: #1e3a8a;
}

.large-button-dark:active {
  background-color: #162e6a;
}

.large-button-light {
  width: 21rem;
  height: 3rem;
  background-color: #1e3a8a;
  border: 2px solid #1e3a8a;
  border-radius: 0.5rem;
  color: #ffffff;
}

.large-button-light:hover {
  background-color: #121212;
  border-color: #1e3a8a;
}

.large-button-light:active {
  background-color: #262626;
}

.information-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-width: 22rem;
  height: 12rem;
  gap: 1.5rem;
  background-color: #121212;
  margin-bottom: 11.7rem;
}

.information-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 18rem;
  height: 6rem;
  border: 2px solid #262626;
  border-radius: 0.5rem;
  background-color: #1a1a1a;
  padding: 2rem 2rem 1.5rem;
  box-sizing: border-box;
  gap: 0.5rem;
}

.benefits-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 21.25rem;
  min-height: 20rem;
  padding: 1rem;
  gap: 0.9rem;
  box-sizing: border-box;
  background-color: #141414;
  border: 2px solid #262626;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.3rem 0.7rem #191919;
}

.benefits-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 40%;
  text-align: center;
  width: 9.6rem;
  height: 9rem;
  padding: 0.9rem;
  gap: 0.7rem;
  background-color: #1a1a1a;
  border: 2px solid #262626;
  border-radius: 0.6rem;
  box-sizing: border-box;
}

.benefits-cards-icon-img {
  width: 3rem;
  height: 3rem;
}

.divider {
  width: 3.5rem;
  height: 1.5rem;
  margin-top: 3.5rem;
  margin-left: 1.25rem;
  user-select: none;
  -webkit-user-drag: none;
}

.section-features {
  width: 100%;
  min-height: 60vh;
  padding: 0 1.7rem 1.7rem 1.7rem;
  box-sizing: border-box;
}

.section-features-title {
  max-width: 37.5rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.propertie-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1.65rem;
  box-sizing: border-box;
  border: 2px solid #262626;
  border-radius: 1.5rem;
  margin-top: 3.4rem;
}

.propertie-card-image {
  width: 100%;
  height: auto;
  border-radius: 0.85rem;
}

.propertie-card-title {
  font-size: 1.4rem;
  margin: 1.7rem 0 0.5rem;
}

.propertie-card-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 0.45rem;
}

.propertie-card-icon-img {
  width: 1rem;
  height: 1rem;
}

.propertie-card-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2rem;
  padding: 0.87rem;
  gap: 0.75rem;
  border: 2px solid #262626;
  border-radius: 3.5rem;
  box-sizing: border-box;
}

.propertie-card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 0.5rem;
}

.propertie-card-price {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 0.25rem;
}

.propertie-card-button {
  width: 100%;
  height: 3rem;
  background-color: #1e3a8a;
  color: #ffffff;
  border: 2px solid #1e3a8a;
  border-radius: 0.5rem;
}

.propertie-card-button:hover {
  background-color: #162e6a;
  border: 2px solid #162e6a;
}

.propertie-card-button:active {
  background-color: #121f4d;
  border: 2px solid #121f4d;
}

.carousel-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  gap: 2.7rem;
  border-top: 2px solid #262626;
  box-sizing: border-box;
}

.view-more-button {
  width: 38%;
  height: 3.5rem;
  background-color: #1a1a1a;
  color: #ffffff;
  border: 2px solid #262626;
  border-radius: 0.65rem;
}

.view-more-button:hover {
  background-color: #1f1f1f;
}

.carousel-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55%;
  height: 100%;
  gap: 0.65rem;
}

.circle-button {
  width: 3rem;
  height: 3rem;
  background-color: #1a1a1a;
  border: 2px solid #262626;
  border-radius: 50%;
}
